<div class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add--to--wishlist">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
      {{ (100 - (product.discountPrice / product.price) * 100).toFixed(0) }} %
      OFF
    </div>
  </div>
  <div class="ekart--product--image">
    <img [src]="product.imageURL" class="ekart--product--image" />
  </div>
  <div class="ekart--add--to--price">{{ product.price }}</div>
  <div class="ekart--product--name">{{ product.name }}</div>
  <div class="ekart--product--category">
    {{ product.gender }} . {{ product.category }} . {{ product.brand }}
  </div>
  <div class="ekart--product--available-colors">
    {{ product.color.length }} Colors . Best Seller
  </div>
  <div
    class="ekart--product--in--stock"
    [ngStyle]="{
      fontWeight: 'bold',
      color: product.is_in_inventory ? 'Green' : 'Red'
    }"
  >
    {{
      product.is_in_inventory ? 'Available in Stock' : 'Not available in Stock'
    }}
  </div>
</div>
