<app-filter
  [all]="totalProductCount"
  [inStock]="totalProductInStock"
  [outOfStock]="totalProductOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChanged($event)"
></app-filter>
<div class="ekart--products--container">
  <div *ngFor="let prod of products" (click)="selectedProduct = prod">
    <!-- *ngIf=" selectedFilterRadioButton === 'all' ||
    prod.is_in_inventory.toString() === selectedFilterRadioButton" -->
    <app-product
      [product]="prod"
      *ngIf="
        searchText === '' ||
        prod.name.toLowerCase().includes(searchText.toLowerCase())
      "
    ></app-product>
  </div>
</div>
