.ekart-featured-product-item {
  width: 270px;
  margin: 10px 10px;
  padding: 10px 30px;
  background-color: #fff;
}

.title,
.description,
.call-to-action {
  margin: 10px 0px;
}

.call-to-action {
  background-color: #282828;
  color: #fff;
  width: 100%;
  padding: 10px 0px;
}
